<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	 <settings>
	 	<!-- 开启驼峰命名法 -->
	 	<setting name="mapUnderscoreToCamelCase" value="false"/>
	 	<!-- 懒加载 -->
	 	<setting name="lazyLoadingEnabled" value="true"/>
	 	<!-- 侵入型懒加载 -->
	 	<setting name="aggressiveLazyLoading" value="false"/>
	 	<setting name="cacheEnabled" value="true"/>
	 </settings>
	 
	  <typeAliases>
	 	<package name="com.swjtu.mybatis.bean"/>
	 </typeAliases>
	 
	<databaseIdProvider type="DB_VENDOR">
		<!-- 为不同数据库厂商起别名 -->
		<property name="Mysql" value="mysql"/>
		<property name="Oracle" value="oracle"/>
		<property name="SQL Server" value="sqlserver"/>
	</databaseIdProvider> 
	
</configuration>