<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swjtu.mybatis.dao.oscasedb.cwn.occwnopr">

	<insert id="insert2CustWarn">
		INSERT INTO oc_cust_warn_tbl
               (
                rcrd_id
                , cust_num
                , cust_name
                , warn_times
               ) VALUES 
                 <foreach collection="LIST" item="item" separator=",">
                 	(
                 		#{item.RCRD_ID}
                 		, #{item.CUST_NUM}
                 		, #{item.CUST_NAME}
                 		, #{item.WARN_TIMES}
                 	)
                 </foreach>

	</insert>

	<!-- 查询客户预警次数 -->
	<select id="qry4CustWarn" resultType="map">
		SELECT CUST_NUM
		       , WARN_TIMES
		  FROM OC_CUST_WARN_TBL
		 WHERE CUST_NUM = #{CUST_NUM}
	</select>
	
</mapper>