<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swjtu.mybatis.dao.EmployeeMapper">
<!-- 
namespace:名称空间;指定为接口的全类名 
id：唯一标识
resultType：返回值类型
#{id}：从传递过来的参数中取出id值

public Employee getEmpById(Integer id);
 -->
  
  
  <!-- /*统计emp_tbl表主键id的最大值*/
	public int empCount();  -->
	<select id="getMaxKey" statementType="CALLABLE" resultType="integer">
		{
			call helloworld(
				#{maxKey, mode=OUT, jdbcType=INTEGER, javaType=ResultSet, resultMap=TestMap}
			)
		}
	</select>
	
	</resultMap>
	
  <!-- /*添加员工*/
	public int addEmp(Employee e);  -->
  <insert id="addEmp">
		INSERT 
		  INTO emp_tbl 
		       ( last_name
		         , gender
		         , email
		         , dept_id
		       )  VALUES
		       ( #{lastName}
		          , #{gender}
		          , #{email}
		          , #{deptId}
	            )
	</insert>
	
 	<select id="getEmpList" resultType="com.swjtu.mybatis.bean.Employee">
		SELECT id AS ID
		       , last_name AS LASTNAME
		       , email AS EMAIL
		       , gender AS GENDER
		  FROM emp_tbl 
		 WHERE dept_id = #{DEPT_ID}
	</select>
	
	<select id="getEmployeeId" resultType="com.swjtu.mybatis.bean.Employee">
		SELECT id AS ID
		       , last_name AS LASTNAME
		       , email AS EMAIL
		       , gender AS GENDER
		  FROM emp_tbl 
		 WHERE id = #{ID}
	</select>
</mapper>