<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swjtu.mybatis.dao.cwn.mycwnopr">

	<insert id="insert2CustWarn">
		INSERT INTO my_cust_warn_tbl
               (
                rcrd_id
                , cust_num
                , cust_name
                , warn_times
               ) VALUES 
                 <foreach collection="LIST" item="item" separator=",">
                 	(
                 		#{item.RCRD_ID}
                 		, #{item.CUST_NUM}
                 		, #{item.CUST_NAME}
                 		, #{item.WARN_TIMES}
                 	)
                 </foreach>

	</insert>
	
</mapper>