<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swjtu.mybatis.dao.EmployeeMapper">
	
	<insert id="insert2CustWarn">
		INSERT INTO my_cust_warn_tbl
               (
                rcrd_id
                , cust_num
                , cust_name 
                , warn_times
               ) VALUES 
                 <foreach collection="LIST" item="item" separator=",">
                 	(
                 		#{item.RCRD_ID}
                 		, #{item.CUST_NUM}
                 		, #{item.CUST_NAME}
                 		, #{item.WARN_TIMES}
                 	)
                 </foreach>
	</insert> 
<!-- 
namespace:名称空间;指定为接口的全类名 
id：唯一标识
resultType：返回值类型
#{id}：从传递过来的参数中取出id值

public Employee getEmpById(Integer id);
 -->
 	<!-- 多条记录封装一个map：Map<Integer,Employee>:键是这条记录的主键，值是记录封装后的javaBean -->
 	<!-- public Map<String, Employee> getEmpByLastNameLikeReturnMap(String lastName); -->
 	<select id="getEmpByLastNameLikeReturnMap" resultType="map">
 		SELECT id AS ID
		       , last_name AS LASTNAME
		       , email AS EMAIL
		       , gender AS GENDER
		  FROM emp_tbl 
		 WHERE last_name like #{lastName}
 	</select>
	
	<!-- 添加一个员工  public void addEmp(Employee e);  -->
	<!-- 
		如何获取自增主键的值：
		mysql 支持自增主键，自增主键值得获取，mybatis 也是利用 statement.getGeneratedKeys()：
		useGeneratedKeys="true" 使用自增主键获取主键值策略，
		keyProperty: 指定对应的主键属性，也就是mybatis获取到主键以后，将这个值封装给java bean的那个属性； 
	 -->
	<insert id="addEmp" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO emp_tbl ( last_name
		       , gender
		       , email
	         ) VALUES ( #{lastName}
	           , #{gender}
	           , #{email}
            ) 
	</insert>
	
	<!-- 更新一个员工  public void updateEmp(Employee e) -->
	<update id="updateEmp">
		UPDATE emp_tbl
		   SET last_name = #{lastName}
		       , gender = #{gender}
		       , email = #{email}
		 WHERE id = #{id}
	</update>
	
	
	<!-- 删除一个员工  public void deleteEmp(Integer id) -->
	<delete id="deleteEmp">
		DELETE 
		  FROM emp_tbl 
		 WHERE id = #{id} 
	</delete>
	
</mapper>